.card-image-container {
    width: 100%; 
    height: 140px;
    overflow: hidden;
    position: relative;
}
  
.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@media (max-width:640px) {
    .card-image-container {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .card-container{
        margin: 20px;
    }
}

  
  