@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root),

::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon-enter {
  animation: fadeInFromTop 1s linear;
}
