@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root),

::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon-enter {
  animation: fadeInFromTop 1s linear;
}

::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {    
  background-color: #E2E8F0;
}

.dark ::-webkit-scrollbar-track {
  background-color: #121111;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(148, 148, 148);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background-color:rgb(108, 108, 108);
}